# general compile
/target
out/
cache/
broadcast/
node_modules/

# WAVS
.env
compiled/*.wasm
.docker/*.json
.env
node_modules/
lcov.info
**/.claude/settings.local.json
test_data
.docker/*.log
.cosmos
wavs:worker*.wit
wavs:worker*.wasm

.DS_Store
# WAVS infra
.nodes
infra/*

# Tools
**/.claude/settings.local.json
