# Environment for Operator 1
# == PROJECT ==
WAVS_ENV_YOURKEYHERE="00000000000000000000000000000000"

# WAVS
WAVS_DATA=~/wavs/data
WAVS_LOG_LEVEL="info, wavs_aggregator=debug"
WAVS_SUBMISSION_MNEMONIC="expire refuse visa erosion into clump broom burger toilet awake patch dose"
WAVS_COSMOS_SUBMISSION_MNEMONIC="cosmos mnemonic here"

# WAVS CLI
WAVS_CLI_DATA=~/wavs/cli
WAVS_CLI_COSMOS_CREDENTIAL="cosmos mnemonic here"
WAVS_CLI_EVM_CREDENTIAL="0xa0a86e2de0cda654f6e537967821f908914387d8c4b8a64c9955b81359686cec"
WAVS_CLI_LOG_LEVEL="info, wavs_cli=info, wavs_aggregator=debug"

# == Testnet ==
RPC_URL=https://holesky.drpc.org
METADATA_URI=https://wavs.xyz/metadata.json
DEPLOY_ENV=LOCAL
FUNDED_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
CHAIN_ID=17000
ETHERSCAN_API_KEY=foobar
LOCAL_ETHEREUM_RPC_URL=http://localhost:8545
LST_CONTRACT_ADDRESS=0x3F1c547b21f65e10480dE3ad8E19fAAC46C95034
LST_STRATEGY_ADDRESS=0x7D704507b76571a51d9caE8AdDAbBFd0ba0e63d3
